.DS_Store
data/
public_html/frontend/node_modules/
public_html/frontend/.nuxt/
public_html/frontend/.output/
public_html/frontend/.data/
public_html/frontend/.nitro/
public_html/frontend/.cache/
public_html/frontend/.output/
public_html/frontend/.nuxt/
public_html/frontend/.output/

public_html/backend/bitrix/
public_html/backend/upload/
public_html/backend/bxtest/
public_html/backend/readme.html
public_html/backend/install.config

public_html/backend/.access.php
public_html/backend/.htaccess
public_html/backend/favicon.ico

